@model ServicosModel

<link rel="stylesheet" href="~/css/Cadastrar.css">

<div class="cadastrar-container">

    <form asp-controller="Servicos" asp-action="Atualizar" method="post">
        <legend>Atualizando Serviços!</legend>
        <input type="hidden" asp-for="Id">
        <div class="form-floating mb-3">
            <input required asp-for="Nome" style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Nome">
            <label for="floatingInput">Nome</label>
        </div>
        <br>

        <div class="form-floating mb-3">
            <input required asp-for="Valor" style="width:50vh;" type="number" class="form-control" id="floatingInput" placeholder="valor">
            <label for="floatingInput">Valor</label>
        </div>
        <br>

        <div class="form-floating mb-3">
            <input required asp-for="Tipo" style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Tipo">
            <label for="floatingInput">Tipo</label>
        </div>
        <br>

        <div class="button-position">
        <a role="button" class="button_voltar" asp-controller="Servicos" asp-action="Index">Voltar</a>
        <button type="submit" class="button-green">Atualizar</butt>
        </div>

    </form>
</div>