<link rel="stylesheet" href="~/css/Cadastrar.css">

<div class="cadastrar-container">

    <form>
        <legend>Cadastrando novos Serviços!</legend>

        <div class="form-floating mb-3">
            <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Nome">
            <label for="floatingInput">Nome</label>
        </div>
        <br>

        <div class="form-position">
            <div class="form-floating">
                <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Cliente(ID)">
                <label for="floatingPassword">Cliente(ID)</label>
            </div>
        </div>
        <br>


        <div class="form-floating mb-3">
            <input style="width:50vh;" type="number" class="form-control" id="floatingInput" placeholder="valor">
            <label for="floatingInput">Valor</label>
        </div>
        <br>

        <div class="form-position-1">
            <div class="form-floating">
                <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Animal(ID)">
                <label for="floatingPassword">Animal(ID)</label>
            </div>
       </div>
       <br>

        <div class="form-floating mb-3">
            <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Tipo">
            <label for="floatingInput">Tipo</label>
        </div>
        <br>

        <div class="form-position-2">
            <div class="form-floating">
                <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Funcionario(ID)">
                <label for="floatingPassword">Funcionário(ID)</label>
            </div>
        </div>

        <div class="button-position">
            <a role="button" class="button-voltar" asp-controller="Servicos" asp-action="Index">Voltar</a>
            <a role="button" class="button-green">Cadastrar</a>
        </div>

    </form>
</div>