
<link rel="stylesheet" href="~/css/Contatos.css">

<main>
    <section class="contato-container-1">
        <article class="caixa-mensagem">
            <h1>Mande sua Mensagem!</h1>
            <form action="https://formsubmit.co/uriel.oliveira@ba.estudante.senai.br" method="POST"
                class="formulario-contato">
                <textarea placeholder="Digite sua mensagem" name="mensagem" id="mensagem" minlength=20 maxlength=255>
                </textarea>

                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://localhost:7093/Obrigado.cshtml">

                <button class="button-green" type="submit" asp-controller="Home" asp-action="Obrigado">Enviar</button>
                <a role="button" class="button" asp-controller="Home" asp-action="Index">Voltar</a>
            </form>
        </article>
        <div class="img">
            <img src="https://www.fatosdesconhecidos.com.br/wp-content/uploads/2022/02/cachorro-caramelo-nft-4.png" width="300px" height="300px">
        </div>
    </section>
</main>
