@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css">

<div class="container-zero">
    <img align="left" class="img-home" src="https://images.unsplash.com/photo-1593270379182-fe1b1f6d67e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt="babidi" width="250" height="300">
    <div class="container-texts">
        <h2 align="center">Sobre nós</h2>
        <h5 class="home-text">
            Localizado na cidade Salvador-BA, o Sigma Pets é uma startup 
            que tem como foco a adoção de animais e também a venda de produtos e serviços de petshop.
            O Sigma Pets é composto por Diego Perpétuo, Felipe Augusto, Matheus Silva e Uriel Ribeiro.
        </h5>
    </div>
    
    
</div>

<br>

<div class="container-one">
    <div align = "center">
        
        <h2>Alguns dos nossos produtos!</h2>
        <br>
        <br>
        <img class="img-home" src="https://www.petlove.com.br/images/products/259784/large/Ra%C3%A7%C3%A3o_Pedigree_Carne_e_Vegetais_C%C3%A3es_Adultos_Ra%C3%A7as_M%C3%A9dias_e_Grandes_15_kg_3104862-4.png?1659449076" alt="Ração Pedigree" width="250" height="250" style="float:left">
        <img class="img-home" src="https://images.tcdn.com.br/img/img_prod/1023012/coleira_couro_forrado_no_03_vermelho_859_1_6a14abed999df876f28bdbeb6900eb17.jpg" alt="Coleira" width="250" height="250">
        <img class="img-home" src="https://caoemcompanhia.com.br/wp-content/uploads/2016/11/brinquedo-cachorro.jpg" alt="Cachorro brincando" width="250" height="250" style="float:right">
        <br>
        <br>
        <br>
        <br>
        <a role="button" class="button" asp-controller="Produtos" asp-action="Index">Veja Mais!</a>
    </div>
</div>

<br>

<div class="container-two">
    <div align = "center">
        
        <h2>Alguns dos nossos Sigmas para adoção!</h2>
        <br>
        <br>
        <img class="img-animais" src="https://imageproxy.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/a808f674e33cceb3b567fbf3199662162b385fadd9f0d8b42f7bdd4558943c00_1.jpg" alt="Cachorro" width="280" height="250">
        <img class="img-animais" src="https://images.unsplash.com/photo-1608831540955-35094d48694a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=526&q=80" alt="Gato" width="270" height="250" style="float:left">
        <img class="img-animais" src="https://blog.appegada.com/thumb/blog/1/780/500/1a09bacc2740e0f8e3c2b10bd5bf01ae.jpg" alt="Cachorro pidão" width="300" height="250" style="float:right">
        <br>
        <br>
        <br>
        <br>
        <a role="button" class="button" asp-controller="Animais" asp-action="Index">Veja Mais!</a>
    </div>
</div>

<br>

<div class="container-three">
    <div align = "center">
        
        <h2>Serviços para deixar seu bichano Sigma!</h2>
        <br>
        <br>
        <img class="servico-img" src="https://images.unsplash.com/photo-1516734212186-a967f81ad0d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="babidi" width="300" height="250">
        <img class="servico-img" src="https://images.unsplash.com/photo-1625321150203-cea4bee44b54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="babidi" width="300" height="250" style="float:left">
        <img class="servico-img" src="https://images.unsplash.com/photo-1528846104175-4fd300ee59da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="babidi" width="300" height="250" style="float:right">
        <br>
        <br>
        <br>
        <br>
        <a role="button" class="button" asp-controller="Servicos" asp-action="Index">Veja Mais!</a>
    </div> 
</div>

<br>

<div class="container-four">
    <img class ="img-animais" src="https://images.unsplash.com/photo-1630173207885-c903abb963f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="babidi" width="250" height="250">
    <div class="container-four__texts">
        
        <h2 class="container-four__h2">E aí! O que achou?</h2>
        <br>
        <h4 class="container-four__h4">Gostaríamos de receber seu feedback sobre  nosso pethsop! Adoramos a sua visita!</h4>
        <br>
        <a  role="button" class="button-container-four__a" asp-controller="Home" asp-action="Contatos">Fale com a gente!</a>
    </div>
</div>

    