@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Obrigado.css">

<main>
    <section class="obrigado-container-1">
        <article class="texto-agradecimento">
            <h1>Obrigado pela sua resposta!</h1>
            <p>O Sigma Pets agradece pelo seu feedback, volte sempre!</p>
            <a role="button" class="button-voltar" asp-controller="Home" asp-action="Index">Página incial</a>
        </article>
    </section>
</main>