<link rel="stylesheet" href="~/css/VerificarAlterar.css">

<main>
    <section class="container_alterar">
        <article class="alterar__texto">
            <h1>Deseja alterar esse registro?</h1>
                <p>A ação de alteração não pode ser desfeita depois de executada!</p>
        </article>
        <article class="container_alterar-tabela">
            <table class="content_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Gênero</th>
                        <th>Idade</th>
                        <th>Tipo</th>
                        <th>Raça</th>
                        <th>Porte</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Babidi</td>
                        <td>Macho</td>
                        <td>1 ano</td>
                        <td>Gato</td>
                        <td>ViraLata</td>
                        <td>Médio</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <a role="button" class="button_voltar" asp-controller="Animais" asp-action="Index">Voltar</a>
        <a role="button" class="button_alterar">Alterar registro</a>
    </section>
</main>
