<style>
    * {
        margin: 0;
        padding: 0;
    }

    .alterar-container {
        background-color: white;
        width: 900px;
        height: 450px;
        margin: auto;
        margin-top: 5%;
        border: 2px solid black;
        border-radius: 15px;
    }

    .alterar-texto {
        margin-top: 3%;
        margin-left: 20%;
    }

    article>h1 {
        margin-left: 2%;
    }

    article>p {
        font-size: 1.2em;
        margin-top: 2%;
    }

    .content-table {
        border-collapse: collapse;
        margin: auto;
        margin-top: 5%;
        font-size: 0.8em;
        min-width: 400px;
        width: 800px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px #f2b749;
    }

    .content-table thead tr {
        background-color: #f2b749;
        color: #000000;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #ff9800;
    }

    .button-green {
        background-color: #8bc34a;
        width: 170px;
        height: 50px;
        border: 2px solid black;
        border-radius: 15px;
        transition-duration: 0.4s;
        margin-top: 10%;
        margin-left: 10%;
        font-size: 1.2em;
        font-weight: bold;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
    }

    .button-green:active {
        background-color: #41B068;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button-green:hover {
        background-color: #41B068;
        color: #ffffff
    }

    .button {
        background-color: #f2b749;
        transition-duration: 0.4s;
        border: none;
        color: black;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
        width: 170px;
        height: 50px;
        border: 2px solid black;
        border-radius: 15px;
        margin-top: 10%;
        margin-left: 25%;
        font-size: 1.2em;
        font-weight: bold;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .button:active {
        background-color: #f2b749;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button:hover {
        background-color: #ff9800;
        color: #ffffff
    }
</style>

<main>
    <section class="alterar-container">
        <article class="alterar-texto">
            <h1>Deseja alterar esse registro?</h1>
            <p>A ação de alteração não pode ser desfeita depois de executada!</p>
        </article>
        <article class="alterar-tabela">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Marca</th>
                        <th>Data de Fabricação</th>
                        <th>Data de Validade</th>
                        <th>Funcionalidade</th>
                        <th>Fornecedor(CNPJ)</th>
                        <th>Código de Barra</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Shampoo</td>
                        <td>R$30.00</td>
                        <td>Sigma Shampoos</td>
                        <td>10/10/2022</td>
                        <td>31/12/2023</td>
                        <td>Limpeza</td>
                        <td>12186634000160</td>
                        <td>1234096842</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <a role="button" class="button" class="button" asp-controller="Produtos" asp-action="Index">Voltar</a>
        <a role="button" class="button-green">Alterar registro</a>
    </section>
</main>
