@model ProdutoModel

<link rel="stylesheet" href="~/css/Cadastrar.css">


<div class="cadastrar-container">

    <form asp-controller="Produtos" asp-action="Cadastrar" method="post">
        <legend>Cadastrando novos Produtos!</legend>

        <div class="form-floating mb-3">
            <input required asp-for="Nome" style="width:50vh; height:50px;" type="text" class="form-control" id="floatingInput" placeholder="Nome">
            <label for="floatingInput">Nome</label>
        </div>
        <br>

        <div class="form-position">
            <div class="form-floating">
                <input required asp-for="Marca" style="width:50vh; height:50px;" type="text" class="form-control" id="floatingInput" placeholder="Marca">
                <label for="floatingPassword">Marca</label>
            </div>
        </div>    
        <br>

        <div class="form-floating mb-3">
            <input required asp-for="Dt_Fab" style="width:50vh; height:50px;" type="date" class="form-control" id="floatingInput" placeholder="Data de Fabricação">
            <label for="floatingInput">Data de fabricação</label>
        </div>
        <br>

        <div class="form-position-1">
            <div class="form-floating">
                <input required asp-for="Dt_Val" style="width:50vh; height:50px;" type="date" class="form-control" id="floatingInput" placeholder="Data de validade">
                <label for="floatingPassword">Data de validade</label>
            </div>
        </div>
        <br>

        <div class="form-floating mb-3">
            <input required asp-for="Funcionalidade" style="width:50vh; height:50px;" type="text" class="form-control" id="floatingInput" placeholder="Funcionalidade">
            <label for="floatingInput">Funcionalidade</label>
        </div>
        <br>

        <div class="button-position">
        <a role="button" class="button-voltar" asp-controller="Produtos" asp-action="Index">Voltar</a>
        <button type="submit" class="button-green">Cadastrar</butt>
        </div>

    </form>

</div>