@{
    ViewData["Title"] = "Produtos";
}

<div class="animais-container">
    <h1>Lista Geral de Produtos</h1>

    <hr>
    <p><b>Essa lista contém os produtos que já foram vendidos e os que estão disponíveis para venda</b></p>
    <br>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Marca</th>
                <th>Data de Fabricação</th>
                <th>Data de Validade</th>
                <th>Funcionalidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Shampoo</td>
                <td>R$30.00</td>
                <td>Sigma Shampoos</td>
                <td>10/10/2022</td>
                <td>31/12/2023</td>
                <td>Limpeza</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Produtos" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                            style=height="32" width="32"></a>
                        <a role="button" asp-controller="Produtos" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                            style=height="32" width="32"></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Bola</td>
                <td>R$25.00</td>
                <td>Sigma Balls</td>
                <td>11/11/2022</td>
                <td>31/12/2026</td>
                <td>Diversão</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Produtos" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="32" width="32"></a>
                        <a role="button" asp-controller="Produtos" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="32" width="32"></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Coleira</td>
                <td>R$50.00</td>
                <td>Sigma Utility</td>
                <td>19/04/2022</td>
                <td>31/12/2025</td>
                <td>Utilidade</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Produtos" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="32" width="32"></a>
                        <a role="button" asp-controller="Produtos" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="32" width="32"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <a role="button" class="button" asp-controller="Home" asp-action="Index">Voltar</a>
    <a role="button" class="button-green" asp-controller="Produtos" asp-action="CadastrarProdutos">Cadastrar novo produto</a>

</div>

<br>

<div class="container-four">
    <img class="img-animais" src="https://www.casamelhor.com/wp-content/uploads/2019/11/escolher.jpg" alt="Shampoo de cachorro" width="250" height="250">
    <div align = "right">
        <h2>E aí! O que achou?</h2>
        <br>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h4>
        <br>
        <br>
        <br>
        <a role="button" class="button-two">Veja Mais!</a>
    </div>
</div>

<style>

    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content-table {
        border-collapse: collapse;
        display: flexbox;
        margin: 25px 0;
        font-size: 0.8em;
        font-weight: bold;
        min-width: 400px;
        width: 900px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px #f2b749;
    }

    .content-table thead tr {
        background-color: #f2b749;
        color: #000000;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #ff9800;
    }

    .button {
        background-color: #f2b749;
        transition-duration: 0.4s;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
    }

    .button-two {
        background-color: #f2b749;
        transition-duration: 0.4s;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        padding: 12px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
    }

    .button:active {
        background-color: #f2b749;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button:hover {
        background-color: #ff9800;
        color: #ffffff
    }

    .button-green {
        background-color: #8bc34a;
        transition-duration: 0.4s;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
    }

    .button-green:active {
        background-color: #41B068;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button-green:hover {
        background-color: #41B068;
        color: #ffffff
    }

    .animais-container {
        display: flexbox;
        padding: 1cm;
        border-radius: 15px;
        border: 2px solid black;
        background-color: #ffff;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
    }

    .animais-container-second {
        display: flexbox;
        padding: 1cm;
        border-radius: 15px;
        border: 2px solid black;
        background-color: #ffff;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
    }

    .container-four {
        display: flex;
        padding: 1cm;
        border-radius: 15px;
        border: 2px solid black;
        background-color: #ffff;
        height: 60vh;
        justify-content: center;
        min-height: 60vh;
        gap: 30px;
    }

    .img-animais{
        border-radius: 15px;
        border: 2px solid black;
    }

</style>
