@model ProdutoModel

<link rel="stylesheet" href="~/css/VerificarExcluir.css">

<main>
    <section class="container_excluir">
        <article class="excluir__texto">
            <h1>Deseja excluir esse registro?</h1>
                <p>A ação de exclusão não pode ser desfeita depois de executada!</p>
        </article>
        <article class="container_excluir-tabela">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Marca</th>
                        <th>Data de Fabricação</th>
                        <th>Data de Validade</th>
                        <th>Funcionalidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Shampoo</td>
                        <td>R$30.00</td>
                        <td>Sigma Shampoos</td>
                        <td>10/10/2022</td>
                        <td>31/12/2023</td>
                        <td>Limpeza</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <a role="button" class="button_voltar" asp-controller="Produtos" asp-action="Index">Voltar</a>
        <a role="button" class="button_excluir">Excluir registro</a>
    </section>
</main>