<link rel="stylesheet" href="~/css/VerificarAlterar.css">

<main>
    <section class="container_alterar">
        
        <article class="container_alterar-tabela">
            <article class="alterar__texto">
            <h1>Deseja alterar esse registro?</h1>
                <p>A ação de alteração não pode ser desfeita depois de executada!</p>
        </article>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Gênero</th>
                        <th>Telefone</th>
                        <th>Idade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Edson Arantes</td>
                        <td>Rua de Cima, Santos-SP</td>
                        <td>Masculino</td>
                        <td>11958627003</td>
                        <td>29</td>
                    </tr>
                </tbody>
            </table>
            <div class="container__buttons">
                <a role="button"  class="button_voltar" asp-controller="Clientes" asp-action="Index">Voltar</a>
             <a role="button" class="button_alterar">Alterar registro</a>
            </div>
        </article>
        
    </section>
</main>
