<link rel="stylesheet" href="~/css/Cadastrar.css">

<div class="cadastrar-container">

    <form>
        <legend>Cadastrando novos Clientes!</legend>

        <div class="form-floating mb-3">
            <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Nome">
            <label for="floatingInput">Nome</label>
        </div>
        <br>

        <div class="form-position">
            <div class="form-floating">
                <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Endereço">
                <label for="floatingPassword">Gênero</label>
            </div>
        </div>
        <br>

        <div class="form-floating mb-3">
            <input style="width:50vh;" type="date" class="form-control" id="floatingInput" placeholder="Data de nascimento">
            <label for="floatingInput">Data de nascimento</label>
        </div>
        <br>

        <div class="form-position-1">
            <div class="form-floating mb-3">
                <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Telefone">
                <label for="floatingInput">Telefone</label>
            </div>
        </div>
        <br>

        <div class="form-floating">
            <input style="width:50vh;" type="text" class="form-control" id="floatingInput" placeholder="Idade">
            <label for="floatingPassword">Idade</label>
        </div>

        <div class="button-position">
            <a role="button" class="button-voltar" asp-controller="Clientes" asp-action="Index">Voltar</a>
            <a role="button" class="button-green">Cadastrar</a> 
        </div>
    </form>
</div>
