@{
    ViewData["Title"] = "Clientes";
}

<div class="animais-container">
    <h1>Lista Geral de Clientes</h1>

    <hr>
    <p><b>Essa lista contém os clientes que estão cadastrados na nossa loja</b></p>
    <br>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Data de Nascimento</th>
                <th>Gênero</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Edson Arantes</td>
                <td>Rua de Cima, Santos-SP</td>
                <td>23/10/1940</td>
                <td>Masculino</td>
                <td>11958627003</td>
                <td>29</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Clientes" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="30" width="30"></a>
                        <a role="button" asp-controller="Clientes" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="30" width="30"></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Ronaldo Nazário</td>
                <td>Rua de Baixo, Rio de Janeiro-RJ</td>
                <td>18/09/1976</td>
                <td>Masculino</td>
                <td>21994200203</td>
                <td>40</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Clientes" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="30" width="30"></a>
                        <a role="button" asp-controller="Clientes" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="30" width="30"></a>
                    </div>
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>Marta da Silva</td>
                <td>Rua do Limoeiro, Dois Riachos-AL</td>
                <td>19/02/1986</td>
                <td>Feminino</td>
                <td>11998765643</td>
                <td>32</td>
                <td>
                    <div>
                        <a role="button" asp-controller="Clientes" asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="30" width="30"></a>
                        <a role="button" asp-controller="Clientes" asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="30" width="30"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <a role="button" class="button" asp-controller="Home" asp-action="Index">Voltar</a>
    <a role="button" class="button-green">Cadastrar novo cliente</a>

</div>

<br>

<div class="container-four">
    <img src="https://www.petz.com.br/blog/wp-content/uploads/2021/03/como-dar-banho-em-cachorro2.jpg" alt="babidi"
        width="250" height="250">
    <div align="right">
        <h2>E aí! O que achou?</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</h4>
        <a role="button" class="button">Veja Mais!</a>
    </div>
</div>

<style>
    * {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.7em;
        min-width: 500px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px #f2b749;
    }

    .content-table thead tr {
        background-color: #f2b749;
        color: #000000;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #ff9800;
    }

    .button {
        background-color: #f2b749;
        transition-duration: 0.4s;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
    }

    .button:active {
        background-color: #f2b749;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button:hover {
        background-color: #ff9800;
        color: #ffffff
    }

    .button-green {
        background-color: #8bc34a;
        transition-duration: 0.4s;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 15px;
    }

    .button-green:active {
        background-color: #41B068;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    .button-green:hover {
        background-color: #41B068;
        color: #ffffff
    }

    .animais-container {
        display: flexbox;
        padding: 1cm;
        border-radius: 2%;
        border: 2px solid black;
        background-color: #ffff;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
    }

    .animais-container-second {
        display: flexbox;
        padding: 1cm;
        border-radius: 2%;
        border: 2px solid black;
        background-color: #ffff;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
    }

    .container-four {
        display: flexbox;
        padding: 1cm;
        border-radius: 2%;
        border: 2px solid black;
        background-color: #ffff;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
    }
</style>
